<div class="login_form">
  <h1>Login</h1>

  <%= form_for(:session, url: login_path) do |f| %>
    <p>
      <%= f.email_field :email, :placeholder => "Email" %><br />
    </p>
    <p>
      <%= f.password_field :password, :placeholder => "Password" %><br />
    </p>
    <%= f.submit "Log in", class: "userbutton" %>
  <% end %>

</div>
