<table>
  <% @thoughts.each do |f| %>
     <tr>
       <td>
         <%= link_to User.find(f.user_id).username, controller: 'users', action: 'show', username: User.find(f.user_id).username %>
     </tr>
     <tr>
       <td>
         <%= f.idea %>
       </td>
     </tr>
     <tr>
       <td>
         <hr />
       </td>
     </tr>
   <% end %>
</table>
