<h1>Welcome to my social network</h1>

<p>
  This is a project maintained by <a href="http://github.com/xcoan">X Coan</a>.
  (personal website <a href="http://www.xjcoan.com">here</a>)
</p>

<hr />

<p>
  The point of this project/social network is to allow people to create accounts and post articles.
  Users will then be able to comment on other user's posts. The functionality is meant to remain basic, as
  the web application itself is not the important part of this project.  Instead, the "meat and bones" of this project
  will be done in mobile apps (iOS and Android), with which I have never worked in before!
</p>

<hr />
<p>
  Cheers! Made with ❤️ using Rails
</p>
