// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page_top {
  text-align: center;
  border: 1px solid;
  margin-bottom: 10px;
  background-color: #f3f3f3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

.forms {
  height: 80%;
}

.right {
  height: 100%;
  float: right;
  border: 1px solid;
  width: 49.5%;
  background-color: #f3f3f3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

.left {
  height: 100%;
  float: left;
  width: 49.5%;
  border: 1px solid;
  background-color: #f3f3f3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

.front_page_login {
  text-align: center;
  position: relative;
}

.front_page_signup {
  text-align: center;
  position: relative;
}

.errorpage {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid;
  text-align: center;
  h1 {
    font-size: 300%;
  }
}
