
<%= render 'layouts/newthought' %>

  <% @thoughts.reverse_each do |thought| %>
  <div class="thoughts">
    <p>
      <%= link_to User.find(thought.user_id).username, controller: 'users', action: 'profile', username: User.find(thought.user_id).username %>
    </p>
    <p id="idea">
      <%= thought.idea %>
    </p>
    <p id="time">
      <%= thought.updated_at.strftime("%l:%M%p %Z on %D") %>
    </p>
  </div>
  <% end %>
