<div class="thoughtform">
  <%= form_for :thought, url: thoughts_path do |f| %>
    <p>
      <%= f.label "Thought" %><br>
      <%= f.text_area :idea, :class => "newthought" %>
    </p>

    <p>
      <%= f.submit "Think!", :class => "submitbutton" %>
    </p>
  <% end %>

</div>
